*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-auto-rows: 100px 1fr;
}

main, header, aside{
    border: 1px solid black;
}
aside{
    grid-row: 1 / 3;
}