@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content,200px) 1fr;
    grid-template-rows: min-content 1fr;
}

aside{
    grid-row: 1 / 3;
    background-color: #e11d48;
    padding: 8px;
    color:white;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    gap:50px
}
.icon{
    height: 30px;
    vertical-align:text-bottom;
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(273deg) brightness(104%) contrast(103%);
}
li .icon{
    height: 21px;
}

li>a{
    text-decoration: none;
    color:inherit;
    font-weight: bolder;
}
li+li{
    margin-top: 15px;
}
header{
    padding:10px;
    display:grid;
    z-index: 1;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    grid-template-columns: 2fr 1fr;
}
button{
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
header > div:last-child{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}
header > div:first-child{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
}
input{
    padding:3px 10px;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

main{
    background-color: #cfdef7;
    padding: 15px 10px 15px;
    display:grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
}
main > div > p{
    font-weight: bold;
    margin-bottom: 15px;
}
.projects{
    grid-row: 1 / 3;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap:15px;
}
.cards > div{
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    border-left: 5px solid rgb(247, 169, 25);
}
.cards > div > p:first-child{
    font-weight: bold;
}
.announcements > div{
    background-color: white;
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.announcements div > p:first-child{
    font-weight: bold;
}
.announcements > div > div +div{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}
.announcements > div > div:first-child{
    padding: 10px 0;
}